.Profile {
  margin: 16px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 8px 16px 16px 16px;
  width: 468px;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
}

.Profile p {
  font-weight: normal;
}

.Profile:hover {
  box-shadow: 0 1px 3px 1px #1d9bf0;
  border-color: #1d9bf0;
}
